/* html,
body {
  background: #f7f7f7 !important;
}

.anchorjs-link {
  position: absolute;
  transition: margin-left 0.25s, color 0.25s, opacity 0.25s;
  margin-left: -0.2em;
  color: #777;
  opacity: 0;
}

blockquote {
  border-left: 3px solid rgba(34, 36, 38, 0.15);
  margin-left: 0;
  padding-left: 10px;
  font-style: italic;
}

h1:hover > .anchorjs-link:not(:hover),
h2:hover > .anchorjs-link:not(:hover),
h3:hover > .anchorjs-link:not(:hover),
h4:hover > .anchorjs-link:not(:hover),
h5:hover > .anchorjs-link:not(:hover),
h6:hover > .anchorjs-link:not(:hover) {
  margin-left: 0;
  opacity: 0.5;
}

.anchorjs-link:hover {
  margin-left: 0;
  color: cornflowerblue;
  opacity: 1;
}

#introduction-page p {
  font-size: 1.125em;
  margin: 1.5em 0;
}

pre {
  margin: 0;
}

code:not([class*='language-']) {
  font-size: 87.5%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  white-space: pre;
  display: inline-block;
}

code:not([class*='language-'])::before {
  letter-spacing: -0.2em;
  content: '\00a0';
}

code:not([class*='language-'])::after {
  letter-spacing: -0.2em;
  content: '\00a0';
}

.docs-example {
  position: relative;
  background: #fff;
  box-shadow: 0 1px 2px #ccc;
}

.docs-example:hover {
  box-shadow: 0 2px 8px #bbb;
}

.docs-example.active {
  box-shadow: 0 8px 32px #aaa;
}

.docs-icon-set-column {
  cursor: pointer;
}

.docs-icon-set-column .icon {
  font-size: 2em;
  color: #555;
  transform: scale(1);
  transition: opacity 0.2s, color 0.2s, transform 0.2s;
}

.docs-icon-set-column .name {
  display: block;
  margin: 1em 0;
  color: #777;
}

.docs-icon-set-column:hover > .icon,
.docs-icon-set-column:hover > .name {
  color: #000;
}

.docs-icon-set-column:hover > .icon {
  transform: scale(1.5);
}

#docs-carbonads {
  background: #222;
  box-shadow: 0 0 2em black;
  border-top: 1px solid #444;
  min-height: 150px;
}

#carbonads {
  padding: 8px 8px;
  line-height: 1.2;
}

#carbonads img {
  display: block;
  margin: 0 auto 4px auto;
}

.carbon-text {
  font-size: 13px;
  color: #aaa;
}

.carbon-text:hover {
  color: #ddd;
}

.carbon-poweredby {
  margin-left: 8px;
  font-size: 10px;
  color: #fff;
  opacity: 0.5;
  white-space: nowrap;
}

.carbon-poweredby:hover {
  color: #ddd;
}

/* --- */

/* .token.deleted {
  color: #e2777a;
}

.token.inserted {
  color: #7ec699;
} */ 



.wrapper {
  height: 560px;
  width: 500px;
   margin-left: auto;
   margin-right: auto;
   padding:0 2em;
   border-radius: 5px;
   box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
   overflow: hidden;
   color: #ffffff;
  background: linear-gradient(180deg, rgba(0,5,36,1) 0%, rgba(208,28,17,0.9037990196078431) 51%, rgba(254,253,253,0) 82%);
}

.sign-wrapper {
  height: 560px;
  width: 500px;
   margin-left: auto;
   margin-right: auto;
   padding:0 2em;
   border-radius: 5px;
   box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
   overflow: hidden;
   color: #ffffff;
  background: linear-gradient(180deg, rgba(0,5,36,1) 0%, rgba(208,28,17,0.9037990196078431) 51%, rgba(254,253,253,0) 82%);
}

.log-wrapper {
  height: 560px;
  width: 500px;
   margin-left: auto;
   margin-right: auto;
   padding:0 2em;
   border-radius: 5px;
   box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
   overflow: hidden;
   color: #ffffff;
  background: linear-gradient(180deg, rgba(0,5,36,1) 0%, rgba(208,28,17,0.9037990196078431) 51%, rgba(254,253,253,0) 82%);
}

.form-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background: linear-gradient(180deg, rgba(0,5,36,1) 10%, rgba(208,28,17,0.9037990196078431) 40%, rgba(254,253,253,0) 82%);
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


label {
  font-size: 1.5em;
  margin-bottom: 0.25em;
  color: rgb(247, 242, 242);
  font-weight: lighter;
}

input {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, .2);
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: rgb(138, 189, 212);
}

input.error {
  border: 1px solid red;
}

.errorMessage {
  color: rgba(255, 0, 0, 0);
  font-size: 0.75em;
  display: relative;
}




.name,
.password {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAccount button {
  background-color: #383434;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.createAccount button:hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
}

.loginRoute {
  color: rgb(225, 210, 210);
  font-weight: lighter;
  background-color: #383434;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}